body {
    background-image:url(./mombasa_food.jpg);
    background-image:linear-gradient(to right,rgb(107, 106, 106) rgba(rgb(0, 0, 0), 0,0,0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.h1 {
    color: beige;
}

.startdiv {
    font-style: oblique;
    font-size: larger;
    /* padding-left: 70%; */
    /* padding-top: 2%; */
    color: beige;
    padding-left: 400px;
}

.h2 {
    font-size: large;
    color: beige;
    padding-left: 70%;
    padding-top: 5%;
}

.column {
    flex: 33.3%;
    padding: 5px;
    padding-left: 30%;
    padding-top: 1%;
}

.menu {
    font-style: oblique;
    font-size: large;
    padding-left: 850px;
    color: beige;
}

#details div {
    display: inline-block;
    float:left;
    text-align: center;
    width: 33%;
    font-size: large;
    color: beige;
  }

.wrapper {
    display: flex;

}